#dialogue-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.75); */
    z-index: 1000;
}

#dialogue-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

#dialogue-box {
    width: 100%;
    padding: 1.5em;
    min-height: 6em;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 12px;
    position: relative;
}

#dialogue-name {
    font-weight: bold;
    margin-bottom: 0.5em;
}

#dialogue-next {
    position: absolute;
    bottom: 1em;
    right: 1.5em;
    color: white;
    animation: fadeBlink 1s infinite;
    user-select: none;
}

#choice-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
    max-width: 80%;
}

.choice-button {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    padding: 0.75em 1.5em;
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.choice-button:hover {
    background: #444;
    /* transform: scale(1.03); */
}

@keyframes fadeBlink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}