.uppercase {
    text-transform: uppercase;
}

.green {
    color: green;
}

.red {
    color: red;
}

.vbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.hbox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.solid {
    border-style: solid;
}